<% content_for :meta_title, "Registro - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container-form">
  <div class="card-product">
    <div class="image-form">
      <%= image_tag "https://images.unsplash.com/photo-1619166719123-471cee9ce91e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" %>
    </div>

    <div class="info-form">
      <h2>Registrate</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

         <div class="form-inputs">
          <div class="row">
            <div class="col">
              <%= f.input :first_name, required: true, placeholder: "Luis", label: "Nombre" %>
            </div>
            <div class="col">
              <%= f.input :last_name, required: true, placeholder: "Perez", label: "Apellido" %>
            </div>
            <div class="col">
              <%= f.input :username, required: true, placeholder: "luis.perez123", label: "Username"%>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          placeholder: "luisperez@gmail.com",
                          label: "Correo"
                          %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.input :password,
                          required: true,
                          label: "Contraseña",
                          hint: ("#{@minimum_password_length} caracteres minimo" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" }, placeholder: "*************" %>
            </div>
            <div class="col">
              <%= f.input :password_confirmation,
                          label: "Confirmar contraseña",
                          required: true,
                          input_html: { autocomplete: "new-password" }, placeholder: "*************" %>
            </div>
          </div>
        <div>

        <div class="form-actions">
          <%= f.button :submit, "Registrarse", class: "btn-login" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
