<% content_for :meta_title, "Compras - #{DEFAULT_META["meta_product_name"]}" %>

<div id="wrapper">

  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid" id="container-fluid-new-purchase">

        <div class="row h-100 justify-content-center align-items-center">

          <div class="col-10">

            <div class="main-section-new-purchase text-center">

              <h1>¿Qué deseas hacer?</h1>
              <button id="new-supplier-button" class="btn-purchase btn-new-supplier">Nuevo proveedor</button>
              <button id="new-purchase-button" class="btn-purchase btn-new-purchase">Ingresar mercadería</button>
              <%= link_to "Crear producto", new_product_path, class: "mt-4 btn-purchase btn-new-product" %>


              <div id="pending-purchases-section">

                <% if @unconfirmed_purchases.present? %>
                  <div class="card" id="pending-purchases-card">
                    <h2>Tienes <%= @unconfirmed_purchases.count > 1 ? "#{@unconfirmed_purchases.count} compras" : "1 compra" %> sin confirmar</h2>
                    <p>Visualiza tus pendientes <button id="pending-purchases-modal-button" class="btn-continue-purchase btn-view-pending-purchases">aqui</button> <%# o<button class="btn-cancel-purchase btn-view-pending-purchases">cancelar</button> %>  </p>
                  </div>
                <% end %>

                <%# Modal para visualizar compras pendientes %>
                <template id="pending-purchases-template-modal">
                  <swal-title class="text-muted">
                    Compras pendientes
                  </swal-title>
                  <swal-icon type="warning"></swal-icon>
                  <swal-button type="confirm" color="#013440">OK</swal-button>
                  <swal-html>
                    <div class="p-4">
                      <table class="w-100 mt-3">
                        <thead>
                          <tr>
                            <th class="text-left">Proveedor</th>
                            <th>N° de productos</th>
                            <th colspan="2">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if @unconfirmed_purchases.present? %>
                            <% @unconfirmed_purchases.each do |item| %>

                              <tr>
                                <td class="text-muted text-left"><%= item.supplier.name %></td>
                                <td class="text-muted"><%= item.list_purchases.count %> und</td>
                                <td>
                                  <%= link_to purchase_list_purchases_path(item), style: "color: #013440;" do%>
                                    <%= image_tag "detalles.svg", class:"detalles-svg" %>
                                  <% end %>
                                </td>

                                <td>
                                  <%= link_to purchase_path(item), method: "delete", style: "color: #f20f388f;" do %>
                                    <%= image_tag "eliminar.svg", class:"eliminar-svg" %>
                                  <% end %>
                                </td>
                              </tr>

                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </swal-html>
                </template>

                <%# Modal para ingresar mercaderia %>
                <template id="new-purchase-form">
                  <swal-title class="text-muted">
                    Selecciona un distribuidor
                  </swal-title>
                  <swal-icon type="info"></swal-icon>
                  <swal-html>
                    <%= simple_form_for(@purchase) do |f| %>
                      <%= f.input :supplier_id, collection: Supplier.where(user: current_user), label: false, prompt: "Distribuidores disponibles"%>
                      <%= f.submit id: "submit-new-purchase-btn", class: "d-none" %>
                    <% end %>
                  </swal-html>
                </template>

                <%# Modal para ingresar un nuevo supplier %>
                <template id="new-supplier-form">
                  <swal-title class="text-muted">
                    Agrega un nuevo distribuidor
                  </swal-title>
                  <swal-icon type="info"></swal-icon>
                  <swal-html>
                    <%= simple_form_for(@supplier) do |f| %>
                      <%= f.input :name, label: false, placeholder: "Escribe el nombre"%>
                      <%= f.input :address, label: false, placeholder: "Direccion (Opcional)" %>
                      <%= f.input :tax_code, label: false, placeholder: "RUC (Opcional)" %>
                      <%= f.submit id: "submit-new-supplier-btn", class: "d-none" %>
                    <% end %>
                  </swal-html>
                </template>


              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
