<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
      <div class="card p-3 m-3 w-25">
        <h2 class="card-title">Ingreso de mercaderia</h2>
        <div class="card-body">
          <%= simple_form_for(@purchase) do |f| %>
            <%= f.association :supplier, prompt: "Seleccione un proveedor" %>
            <%= f.submit value: "Nueva entrada", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Crear producto", new_product_path, class: "btn btn-primary m-3" %>
      <%= render "shared/pending_purchases" %>
    </main>
  </div>
</div>
