<nav class="navbar navbar-expand-lg navbar-light bg-luz pt-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <%= image_tag "logo.svg" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link active" aria-current="page" href="#">Membresias</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#">Soporte</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <%# No es necesario el boton Sign Up, el boton Login tiene logica automatica para redirigir al Sign Up si el usuario no esta creado aun %>
        <%# <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li> %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown px-3">
            <%= image_tag "https://www.pikpng.com/pngl/m/66-666510_contacts-svg-png-icon-free-download-onlinewebfonts-contacts.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>


      </ul>

    </div>
  </div>
</nav>
