<div class="pt-4">
    <%= simple_form_for(@product) do |f| %>
    <div style="color: #013440" class="form-row">
      <div class="col">
        <%= f.input :name, label: "Nombre" %>
      </div>
      <div class="col">
        <%= f.input :category,  label: "Categoria", collection: Product::CATEGORY %>
      </div>
    </div>

    <div style="color: #013440" class="form-row">
      <div class="col">
        <%= f.input :size,  label: "Talla", collection: Product::SIZE %>
      </div>
      <div class="col">
        <%= f.input :price ,  label: "Precio"%>
      </div>
      <div class="col">
        <%= f.input :cost,   label: "Costo" %>
      </div>
    </div>

    <div style="color: #013440" class="form-row align-items-center">
      <div class="col">
        <%= f.input :stock ,   label: "Stock"%>
      </div>
      <div class="col">
        <%= f.input :minimum_required,   label: "Stock Minimo" %>
      </div>            
    </div>
    <div style="color: #013440" class="form-row align-items-center">
      <div class="col">
          <%= f.input :photo, as: :file %>
      </div>
    </div>
    <div class="col">
          <%= f.submit class:"btn btn-login mt-3" %>
      </div>
    <% end %>
</div>
