<%= simple_form_for(@product) do |f| %>
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :category , label: "Categoria", collection: Product::CATEGORY %>
  <%= f.input :size,  label: "Talla", collection: Product::SIZE %>
  <%= f.input :price,  label: "Precio" %>
  <%= f.input :cost,  label: "Costo" %>
  <%= f.input :stock %>
  <%= f.input :minimum_required, label: "Stock Minimo" %>
  <%= f.input :photo, label: "Fotografia" ,as: :file %>  
  <br>
  <div class="text-center btn btn-primary">
    <%= f.submit %>
  </div>
  
<% end %>
