<!-- Sidebar -->
<nav id="sidebarMenu" class="col-md-1 col-lg-1 d-md-block bg-light sidebar collapse ">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column h-100">
      <li class="nav-item">
        <%= image_tag "Menu.svg", class: "dashboard" %>
          <p class="name-sidebar"> Ajustes </p>
      </li>

      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do %>
          <%= image_tag "Dashboard.svg", class: "dashboard" %>
          <p class="name-sidebar"> Dashboard </p>
          <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
           <%= image_tag "Actividad.svg", class: "dashboard" %>
          <p class="name-sidebar"> Actividad </p>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to products_path, class: "nav-link" do  %>
          <%= image_tag "Product.svg", class: "dashboard" %>
          <p class="name-sidebar"> Productos </p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  new_purchase_path, class: "nav-link" do  %>
          <%= image_tag "Registro.svg", class: "dashboard" %>
          <p class="name-sidebar"> Entradas </p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_order_path, class: "nav-link" do %>
          <i class="fas fa-file-invoice-dollar"></i>
          <p class="name-sidebar"> Ventas </p>
        <% end %>
      </li>

      <li class="nav-item">
<<<<<<< HEAD
        <%= link_to  movements_path, class: "nav-link" do  %>
          <i class="fas fa-exchange-alt"></i>
          <p class="name-sidebar"> Movimientos </p>
        <% end %>
        </a>
=======
        <%= image_tag "Dudas.svg", class: "dashboard" %>
          <p class="name-sidebar"> Dudas </p>
>>>>>>> master
      </li>

      <li class="nav-item">
        <%= image_tag "Ajustes.svg", class: "dashboard" %>
          <p class="name-sidebar"> Ajustes </p>
      </li>

    </ul>

    <%# <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul> %>
  </div>
</nav>
<!-- Sidebar -->
