<!-- Sidebar -->
<div>
    <ul class="sidebarMenu">
      <li class="nav-item">
        <a class="nav-logo" href="#">
          <%= image_tag "logo.svg"%>
            <p class="name-sidebar"> </p>
        </a>
      </li>

      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do %>
          <%= image_tag "Dashboard.svg", class: "btn-sidebar" %>
          <p class="name-sidebar"> Dashboard </p>
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to movements_path, class: "nav-link" do %>
           <%= image_tag "Actividad.svg", class: "dashboard" %>
          <p class="name-sidebar"> Actividad </p>
        <% end %>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to products_path, class: "nav-link" do %>
          <%= image_tag "Product.svg" %>
          <p class="name-sidebar"> Productos </p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  new_purchase_path, class: "nav-link" do  %>
          <%= image_tag "Registro.svg", class: "btn-sidebar" %>
          <p class="name-sidebar"> Entradas </p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_order_path, class: "nav-link" do %>
          <%= image_tag "Salida.svg", class: "btn-sidebar" %>
          <p class="name-sidebar"> Ventas </p>
        <% end %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= image_tag "Dudas.svg", class: "btn-sidebar" %>
            <p class="name-sidebar"> Dudas </p>
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= image_tag "Ajustes.svg", class: "btn-sidebar" %>
            <p class="name-sidebar"> Ajustes </p>
        </a>
      </li>

    </ul>

    <%# <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul> %>
</div>
<!-- Sidebar -->
