<%= render "shared/sidebar" %>
<div class="col-md-11 ml-sm-auto col-lg-11 px-md-4 mt-5">

  <div class="row"  data-controller="insert-in-list">

    <div class="col-6">
      <div class="card">
        <h1>Nueva venta</h1>
        <%= render 'order_form_items', list_order: @list_order %>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <h2>Items:</h2>
          <ul data-insert-in-list-target="items">
            <% if @list_orders.present? %>
              <% @list_orders.each do |item| %>
                <li><%= item.product.name %> | Cantidad: <%= item.quantity %> <%= link_to "Retirar", list_order_path(item), method: "delete" %></li>
              <% end %>
            <% end %>
          </ul>
        <div>
          <%= link_to "Cancelar", order_path(@order), method: "delete", class: "btn btn-danger", data: { confirm: "Cancelar compra?" } %>
          <%= link_to "Confirmar", confirm_order_path(@order), method: "post", class: "btn btn-success", data: { confirm: "Confirmar compra?" } %>
        </div>
      </div>
    </div>

  </div>
</div>
