<div id="wrapper">
  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <div class="row"  data-controller="insert-in-list">

          <%# Search section %>
          <div class="col-6">
            <div class="card bg-transparent border-0 search-products-section py-3 pl-3" data-controller="refresh-products-list">
              <h2 class="text-muted font-weight-bold">Nueva venta</h2>
              <%= form_with url: order_list_orders_path(params[:order_id]), method: :get, html: { class: 'mb-5 pr-3', data: { refresh_products_list_target: 'form' } } do |f| %>
                <%= f.text_field :query,
                                class: "form-control mt-3",
                                placeholder: 'Escribe el nombre o codigo del producto',
                                value: params[:query],
                                data: { refresh_products_list_target: 'searchInput', action: "keyup->refresh-products-list#update" } %>
              <% end %>
              <%= render "results" %>
            </div>
          </div>

          <%# Items section %>
          <div class="col-6">
            <div class="card bg-transparent border-0 pt-3 pl-4 items-section">
              <h2 class="text-muted font-weight-bold">Productos</h2>
              <h4 class="text-muted font-weight-bold mb-5 mt-3">Cliente: <%= @order.customer.name %></h4>
              <div class="items-table-container table-responsive-xl">
                <table class="table table-borderless items-table" >
                  <thead>
                    <tr>
                      <th scope="col" class="text-muted pl-0">NOMBRE</th>
                      <th scope="col" class="text-muted">TALLA</th>
                      <th scope="col" class="text-muted">CANTIDAD</th>
                      <th scope="col" class="text-muted">PRECIO</th>
                      <th scope="col" class="text-muted">ACCION</th>
                    </tr>
                  </thead>
                  <tbody data-insert-in-list-target="items">
                    <% if @list_orders.present? %>
                      <% @list_orders.each do |item| %>

                        <tr class="border-bottom">
                          <td><%= item.product.name %></td>
                          <td><%= item.product.size %></td>
                          <td><%= item.quantity %></td>
                          <td>S/ <%= item.product.price %></td>
                          <td><%= link_to "Retirar", list_order_path(item), method: "delete" %></td>
                        </tr>

                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="confirm-cancel-btns pl-4 border-top">
              <table class="table table-borderless items-table mb-5">
                <tfoot>
                  <tr>
                    <th scope="col" class="text-danger pl-0">TOTAL</th>
                    <td></td>
                    <td></td>
                    <td colspan="2" class="text-center text-danger font-weight-bold total-price" data-insert-in-list-target="total_sum">S/ <%= @total_sum  %></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
              <%= link_to "Eliminar", order_path(@order), method: "delete", class: "btn btn-danger", data: { confirm: "Cancelar compra?" } %>
              <%= link_to "", confirm_order_path(@order), method: "post", id: "confirm-button", class: "d-none" %>
              <button id="sweet-alert-demo" class="btn btn-primary">Guardar</button>

            </div>
          </div>

          <template id="my-template">
            <swal-title class="text-muted">
              Verifica los items de tu lista
            </swal-title>
            <swal-icon type="question"></swal-icon>
            <swal-button type="confirm">
              Confirmar
            </swal-button>
            <swal-button type="cancel">
              Cancelar
            </swal-button>
            <swal-html>
              <div class="p-4">
                <table class="sales-modal-table w-100 mt-3">
                  <tbody>
                    <% if @list_orders.present? %>
                      <% @list_orders.each do |item| %>

                        <tr>
                          <td class="font-weight-bold text-muted"><%= item.quantity %> und</td>
                          <td class="text-muted"><%= item.product.name.upcase %><span class="dotted-line"><%= "." * 50 %></span></td>
                          <td class="text-muted">S/ <%= item.product.price %></td>
                        </tr>

                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </swal-html>
          </template>

        </div>

      </div>

    </div>

  </div>

</div>
