<div id="wrapper">
  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid" id="container-fluid-new-order" >

        <div class="row h-100 justify-content-center align-items-center">

          <div class="col-6">

            <div class="main-section-new-order text-center ">

              <h1>¿Qué deseas hacer?</h1>
              <button id="new-customer-button" class="btn-order btn-new-customer">Nuevo cliente</button>
              <button id="new-order-button" class="mt-4 btn-new-order">Nueva venta</button>

              <div id="pending-orders-section">

                <% if @unconfirmed_orders.present? %>
                  <div class="card" id="pending-orders-card">
                    <h2>Tienes <%= @unconfirmed_orders.count > 1 ? "#{@unconfirmed_orders.count} ventas" : "1 venta" %> sin confirmar</h2>
                    <p>Visualiza tus pendientes <button id="pending-orders-modal-button" class="btn-continue-order inline-btn-order">aqui</button> <%# o <button class="btn-cancel-order inline-btn-order"> </button>%></p>
                  </div>
                <% end %>

                <% @unconfirmed_orders&.each do  |unconfirmed_order| %>
                  <div class="card m-3 p-3" hidden>
                    <ul>
                      <% unconfirmed_order.list_orders.each do |item| %>
                        <li><%= item.product.name %> | Cantidad: <%= item.quantity %></li>
                      <% end %>
                    </ul>
                    <div class = "d-flex">
                      <%= link_to "Continuar",  order_list_orders_path(unconfirmed_order), class: "btn btn-success" %>
                      <%= link_to "Cancelar", order_path(unconfirmed_order), method: "delete", class: "btn btn-danger ml-3" %>
                    </div>
                  </div>
                <% end %>

                <%# Modal para visualizar ventas pendientes %>
                <template id="pending-order-template-modal">
                  <swal-title class="text-muted">
                    Ventas pendientes
                  </swal-title>
                  <swal-icon type="warning"></swal-icon>
                  <swal-button type="confirm" color="#013440">OK</swal-button>
                  <swal-html>
                    <div class="p-4">
                      <table class="w-100 mt-3">
                        <thead>
                          <tr>
                            <th class="text-left">Cliente</th>
                            <th>N° de productos</th>
                            <th colspan="2">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if @unconfirmed_orders.present? %>
                            <% @unconfirmed_orders.each do |item| %>

                              <tr>
                                <td class="text-muted text-left"><%= item.customer.name %></td>
                                <td class="text-muted"><%= item.list_orders.count %> und</td>
                                <td>
                                  <%= link_to order_list_orders_path(item), style: "color: #013440;" do%>
                                    <%= image_tag "detalles.svg", class:"detalles-svg" %>
                                  <% end %>
                                </td>

                                <td>
                                  <%= link_to order_path(item), method: "delete", style: "color: #f20f388f;" do %>
                                    <%= image_tag "eliminar.svg", class:"eliminar-svg" %>
                                  <% end %>
                                </td>
                              </tr>

                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </swal-html>
                </template>

                 <%# Modal para ingresar un nuevo customer %>
                <template id="new-customer-form">
                  <swal-title class="text-muted">
                    Agrega un nuevo cliente
                  </swal-title>
                  <swal-icon type="info"></swal-icon>
                  <swal-html>
                    <%= simple_form_for(@customer) do |f| %>
                      <%= f.input :name, label: false, placeholder: "Escribe el nombre"%>
                      <%= f.input :address, label: false, placeholder: "Direccion (Opcional)" %>
                      <%= f.submit id: "submit-new-customer-btn", class: "d-none" %>
                    <% end %>
                  </swal-html>
                </template>

                <%# Modal para realizar una nueva venta %>
                <template id="new-order-form">
                  <swal-title class="text-muted">
                    Selecciona un cliente
                  </swal-title>
                  <swal-icon type="info"></swal-icon>
                  <swal-html>
                    <%= simple_form_for(@order) do |f| %>
                      <%= f.input :customer_id, collection: Customer.where(user: current_user), label: false, prompt: "Clientes disponibles"%>
                      <%= f.submit id: "submit-new-order-btn", class: "d-none" %>
                    <% end %>
                  </swal-html>
                </template>


              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
