<%= render "shared/sidebar" %>
<div class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
  <div>
    <div class="row bg-white charts-container">
      <div class="col-6 line-chart">
        <%= line_chart Product.group_by_day(:created_at).count, height: "80%" %>
      </div>
      <div class="col-6 pie-chart">
        <%= pie_chart Product.group(:category).count, height: "80%" %>
      </div>
    </div>
  </div>
  <div class="dashboard-table-container mt-4">
    <%= form_tag dashboard_path, method: :get, class:"filter-products" do %>
      <%= select_tag :query, options_for_select([['Mas vendidos', 1], ['Bajo stock', 2], ['Alto stock', 3]]) %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <table class="table table-borderless dashboard-table ml-auto mr-auto">
      <thead>
        <tr>
          <th scope="col" class="text-muted pl-0">PRODUCTO</th>
          <th scope="col" class="text-center text-muted">CATEGORIA</th>
          <th scope="col" class="text-center text-muted">PRECIO</th>
          <th scope="col" class="text-center text-muted">STOCK</th>
          <th scope="col" class="text-center text-muted">TOTAL VENDIDOS</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="w-25 bg-white">
              <div class = "d-flex">
                <%= image_tag "https://source.unsplash.com/random/?#{product.category}", class: "img-product-info" %>
                <ul class="list-unstyled m-0 text-left ml-3">
                  <li class="mt-1"><strong class="name-column"><%= product.name %></strong></li>
                  <li class="text-muted">Codigo: <%= product.bar_code %></li>
                </ul>
              </div>
            </td>
            <td class="column-info bg-white"><strong style="color: #013440;"><%= product.category %></strong></td>
            <td class="column-info bg-white font-weight-bold">S/ <%= product.price %></td>
            <td class="column-info bg-white font-weight-bold <%= "stock-alert" if product.stock < product.minimum_required %>"><%= product.stock %></td>
            <td class="column-info bg-white font-weight-bold"><%= product.list_orders.sum(:quantity) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
