<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
      <h1>DASHBOARD</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= line_chart Product.group_by_day(:created_at).count %>
          </div>
          <div class="col-6">
            <%= pie_chart Product.group(:category).count %>
          </div>
      </div>
      <div class="container-flex">
        <table>
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col"></th>
              <th scope="col">Categoría</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">Total vendidos</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <th scope="row"></th>
                <td><%= product.name %></td>
                <td><%= product.category %></td>
                <td><%= product.price %></td>
                <td><%= product.stock %></td>
                <td><%= product.list_orders.sum(:quantity) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= form_tag dashboard_path, method: :get do %>
        <%= select_tag :query, options_for_select([['Mas vendidos', 1], ['Bajo stock', 2], ['Alto stock', 3]]) %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
            Categorías
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Más vendidos</button>
            <button class="dropdown-item" type="button">Productos con alto stock</button>
            <button class="dropdown-item" type="button">Productos con bajo stock</button>
          </div>
        </div>
      </div>
    <main>
  </div>
  </div>
