<% content_for :meta_title, "Dashboard - #{DEFAULT_META["meta_product_name"]}" %>

<div id="wrapper">
  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <div class="row mt-1 firstrow-dashboard">

          <!-- Low stock Card -->
          <div class="col-xl-3 col-md-6 mb-3 card-dashboard-effects">
            <div class="card border-left-low-stock shadow-sm h-100">
              <div class="card-body p-3">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-card1-dashboard text-uppercase mb-1 ml-2">
                        Bajo stock</div>
                    <div class="h5 mb-0 text-gray-800 d-flex pl-2">
                       <%= @low_stock_count %>
                      <p class="pl-2 mt-1" style="font-size: smaller">productos</p>
                    </div>
                  </div>
                  <div class="col-auto mt-2">
                    <i class="fas fa-exclamation text-gray-300 pr-3" style="font-size: 25px;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Annual) Card -->
          <div class="col-xl-3 col-md-6 mb-3 card-dashboard-effects">
            <div class="card border-left-profit shadow-sm h-100">
              <div class="card-body p-3">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-card2-dashboard text-uppercase mb-1 ml-2">
                      Ganancias del mes
                    </div>
                    <div class="h5 mb-0 text-gray-800 pl-2">
                      <p>S/. <%= @profity %></p>
                    </div>
                  </div>
                  <div class="col-auto mt-2">
                    <i class="fas fa-dollar-sign text-gray-300 pr-2" style="font-size: 25px;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card -->
          <div class="col-xl-3 col-md-6 mb-3 card-dashboard-effects">
            <div class="card border-left-earnigs shadow-sm h-100">
              <div class="card-body p-3">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-card3-dashboard text-uppercase mb-1 ml-2">
                      Ventas del mes
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <p>S/. <%= @earnings %></p>
                    </div>
                  </div>
                  <div class="col-auto mt-2">
                    <i class="fas fa-dollar-sign text-gray-300 pr-2" style="font-size: 25px;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Card adicional 2 -->
          <div class="col-xl-3 col-md-6 mb-3 card-dashboard-effects">
            <div class="card border-left-ticket shadow-sm h-100 py-1">
              <div class="card-body p-3">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-card4-dashboard text-uppercase mb-1">
                        Ticket promedio</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <%= @average_ticket %>
                    </div>
                  </div>
                  <div class="col-auto mt-2">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300 pr-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <!-- Area Chart -->
          <div class="col-xl-7 col-lg-7 card-dashboard-effects">
            <div class="card shadow-sm mb-3">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">Resumen de ventas</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body ">
                <div class="chart-area">
                  <%= area_chart ListOrder.joins(:product).joins(:order).where(order: {user_id: current_user}).group_by_week(:created_at).sum("quantity*price"), round:2, loading: "Loading...", empty: "No data", prefix: "S/.", refresh: 10, zeros:true, download:true, dataset: {borderWidth: 2}, colors: ["#013440"] %>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-5 col-lg-5 card-dashboard-effects">
            <div class="card shadow-sm mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">Fuentes de ingreso</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                  <%= pie_chart ListOrder.joins(:product).joins(:order).where(order: {user_id: current_user}).group(:category).sum('price * quantity'),
                  legend: 'left', donut: true, height:"120%", prefix: "S/.", round: 2, loading: "Loading...", empty: "No data", refresh: 10, zeros:true, download:true, colors: ["#013440", "#F20F38", "rgba(242,15,56,0.55)", "rgba(1,52,64,0.55)", "#F87B92", "#739096",
                  "rgba(1,52,64,0.9)", "#FA9FAF", "rgba(1,52,64,0.7)", "rgba(242,15,56,0.9)", "rgba(1,52,64,0.6)", "rgba(1,52,64,0.5)", "#FEE7EC", "rgba(1,52,64,0.4)", "rgba(1,52,64,0.3)", "rgba(1,52,64,0.2)", "rgba(1,52,64,0.1)", "rgba(242,15,56,0.8)", "rgba(242,15,56,0.7)", "rgba(242,15,56,0.6)", "rgba(242,15,56,0.5)", "rgba(1,52,64,0.8)", "rgba(242,15,56,0.4)", "rgba(242,15,56,0.3)", "rgba(242,15,56,0.2)", "rgba(242,15,56,0.1)", "#1B4954", "#345D66", "#4E717A", "#67858C", "#809AA0", "#99AEB3", "#B3C3C6", "#CCD6D9", "#E6EBEC", "#F4274C", "#F53F60", "#F65774", "#F76F88", "#F9879C", "#FCB7C4", "#FCCFD7"] %>
                </div>

                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <%# <i class="fas fa-circle text-primary"></i> Direct %>
                  </span>
                  <span class="mr-2">
                    <%# <i class="fas fa-circle text-success"></i> Social %>
                  </span>
                  <span class="mr-2">
                    <%# <i class="fas fa-circle text-info"></i> Referral %>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-12 mb-4">
            <div class="card shadow-sm mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold"><%= @table_info[:table_title] %></h6>
                <div class="dropdown no-arrow"><span class="font-weight-bold">Filtrar por:</span>
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                    <%= link_to "Productos mas vendidos", "/dashboard?query=1#dashboard-table", class: "dropdown-item" %>
                    <%= link_to "Ultimos productos vendidos", "/dashboard?query=2#dashboard-table", class: "dropdown-item" %>
                    <%= link_to "Ultimos productos ingresados", "/dashboard?query=3#dashboard-table", class: "dropdown-item" %>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <table class="table table-borderless dashboard-table mx-auto" id="dashboard-table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-muted pl-0">PRODUCTO</th>
                      <th scope="col" class="text-center text-muted">CATEGORÍA</th>
                      <th scope="col" class="text-center text-muted"><%= params[:query] == "3" ? "COSTO" : "PRECIO DE VENTA" %></th>
                      <th scope="col" class="text-center text-muted">STOCK</th>
                      <th scope="col" class="text-center text-muted">TALLA</th>
                      <th scope="col" class="text-center text-muted">CANTIDAD</th>
                      <th scope="col" class="text-center text-muted"><%= params[:query] == "3" ? "PROVEEDOR" : "CLIENTE" %></th>
                      <th scope="col" class="text-center text-muted">FECHA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render "shared/dashboard_table_content" %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
