<body>
  <div class="home-header">
    <%= render 'shared/navbar_home' %> 
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        </div>
        <div class="col-lg-6">
          <h1 class="display-3 fw-bold lh-1 mb-3">La herramienta logistica más facil de usar</h1>
          <p class="lead">Yupay es la solucion para tu PYME</p>          
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-lg px-4 me-md-2">Prueba gratis</button>              
            </div>
           <%# ¿¿¿es necesario el Yield en el home????? %>
           <%# yield %>    
        </div>
      </div>
    </div>
  </div>
<%# SEGUNDA PARTE DEL HOME %>
  <div class="row flex">
    <div class="col-4 px-4 py-5" id="image-home-2"></div>
    <div class=" col-8 px-4 py-5 d-flex align-items-center justify-content-center">
      <div>
        <div class=" text-center py-5"><h1 class="display-4">Headline 1</h1></div>
        <div class="justify-content-center py-2">
          <div class="row">
            <div class="col text-center card-small"><h2>Teil A</h2><p>abc</p></div>
            <div class="col text-center"><h2>Teil B</h2><p>abc</p></div>
          </div>      
          <br>
          <div class="row">
            <div class="col text-center"><h2>Teil C</h2><p>abc</p></div>
            <div class="col text-center"><h2>Teil D</h2><p>abc</p></div>        
          </div>
        </div>
      
      </div>
    </div>

  </div>
  <%# tercera parte del home %>
  <div class="membership">
    <div class="text-center py-5">
      <h1 class="display-4">Membresias</h1>
    </div>
    <div class="row">
      <div class="col text-center mx-4 membership-card">
        <h3>Free</h3>
          <p class="price">$00.00</p>
          <button class="btn-m">Prueba Gratis</button>
          <div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>100 Entries</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Single User Plan</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 User license</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 Custom field</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>In-app scanner</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Custom notes & tags</p> </div>
          </div>
      </div>
      <div class="col text-center mx-4 membership-card">
        <h3>Advance</h3>
          <p class="price">$39.00</p>
          <button class="btn-m">Prueba Gratis</button>
          <div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>100 Entries</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Single User Plan</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 User license</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 Custom field</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>In-app scanner</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Custom notes & tags</p> </div>
          </div>
      </div>
      <div class="col text-center mx-4 membership-card">
        <h3>Pro</h3>
          <p class="price">$29.00</p>
          <button class="btn-m">Prueba Gratis</button>
          <div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>100 Entries</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Single User Plan</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 User license</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>1 Custom field</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>In-app scanner</p> </div>
            <div class="d-flex"> <%= image_tag "check.svg", class: "check" %> <p>Custom notes & tags</p> </div>
          </div>
      </div>
    </div>
  </div>
  
</body>

