<% content_for :meta_title, "Movimientos - #{DEFAULT_META["meta_product_name"]}" %>

<div id="wrapper">
  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <h1 class="px-5 py-3 movimientos">Movimientos</h1>
        <div class="row justify-content-center">
          <%# botones desplegables %>
          <div class="container-fluid px-5 card-mov" id="accordionExample">
            <% @total.each do |item| %>
              <% if defined?(item.customer_id)%>
                  <div class="card my-2 order-card">
                    <div class="card-header" id=<%= "heading-order#{item.id}"  %>>
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target= <%= "#order#{item.id}"  %> aria-expanded="true" aria-controls= <%= "order#{item.id}"  %> >
                          <div class="d-flex justify-content-between row">
                            <div class="d-flex justify-content-left">
                              <p>N°<%= item.id %></p>
                              <p style="padding-left:30px"> <strong> Se registró  <%= item.list_orders.count %></strong>  ventas al cliente <%= item.customer.name %> </p>
                            </div>

                            <p>Fecha: <%= item.updated_at.strftime("%d/%m/%y: %H:%M") %></p>
                          </div>

                        </button>
                      </h2>
                    </div>
                    <%=  %>
                    <div id= <%= "order#{item.id}"  %>  class="collapse" aria-labelledby=<%= "heading-order#{item.id}"  %> data-parent="#accordionExample">
                      <div class="card-body">
                        <table class="table table-mov">
                           <%# <tr>
                              <th>Cantidad</th>
                              <th>Producto</th>
                              <th class="text-right">Precio de Venta Un</th>
                            </tr> %>
                          <% item.list_orders.each do |order_item| %>
                            <tr class="d-flex">
                              <td class="text-right pr-3"><%= order_item.quantity %> un</td>
                              <td class="text-left text-product-name pl-3 flex-grow-1"> <%= order_item.product.name %></td>
                              <td class="text-right text-product-price ml-3"> S/. <%= order_item.product.price %></td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>
                  </div>

              <% else %>

                  <div class="card my-2 purchase-card">
                    <div class="card-header" id= <%= "heading-purchase#{item.id}"  %>>
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target=<%= "#purchase#{item.id}"  %> aria-expanded="true" aria-controls= <%= "purchase#{item.id}"  %> >
                          <div class="d-flex justify-content-between row">
                          <div class="d-flex">
                            <p>N°<%= item.id %></p>
                            <p style="padding-left:30px">Se registro <%= item.list_purchases.count %> compras al proveedor  <%= item.supplier.name %></p>
                          </div>

                            <p>Fecha: <%= item.updated_at.strftime("%d/%m/%y: %H:%M") %></p>
                          </div>
                        </button>
                      </h2>
                    </div>

                    <div id=<%= "purchase#{item.id}"  %> class="collapse" aria-labelledby= <%= "heading-purchase#{item.id}"  %> data-parent="#accordionExample">
                      <div class="card-body">
                        <table class="table table-mov">
                            <%#<tr>
                              <th>Cantidad</th>
                              <th>Producto</th>
                              <th class="text-right">Costo Unitario</th>
                            </tr>%>
                          <% item.list_purchases.each do |order_item| %>
                            <tr class="d-flex">
                              <td class="text-right pr-3"><%= order_item.quantity %> un</td>
                              <td class="text-left text-product-name pl-3 flex-grow-1"> <%= order_item.product.name %></td>
                              <%# ojo aca va el costo %>
                              <td class="text-right text-product-price ml-3">S/. <%= order_item.product.cost %></td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>
                  </div>

              <% end %>
            <% end %>
          </div>


          <%# fin desplegables %>
        </div>

      </div>

    </div>

  </div>
</div>
