<% content_for :meta_title, "Nueva compra - #{DEFAULT_META["meta_product_name"]}" %>

<div id="wrapper">

  <%= render "shared/sidebar" %>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <%= render "shared/topbar" %>

      <div class="container-fluid">

        <div class="row justify-content-around section-order-container"  data-controller="insert-in-list">

          <%# Search section %>
          <div class="col-6">
            <div class="card bg-transparent border-0 search-products-section py-3 pl-3" data-controller="refresh-products-list">

              <h2>Ingresar mercaderia</h2>

              <%= form_with url: purchase_list_purchases_path(params[:purchase_id]), method: :get, html: { class: 'mb-3 search-input-container', data: { refresh_products_list_target: 'form' } } do |f| %>
                <%= f.text_field :query,
                                class: "form-control search-input mt-3",
                                placeholder: 'Escribe el nombre o codigo del producto',
                                value: params[:query],
                                data: { refresh_products_list_target: 'searchInput', action: "keyup->refresh-products-list#update" } %>
              <% end %>
              <%= render "results" %>
            </div>
          </div>

          <%# Items section %>
          <div class="col-5 items-section-container">

            <div class="border-0 pt-3 items-section">

              <p>Distribuidor</p>
              <h2 class="mb-5 customer-name"><%= @purchase.supplier.name %></h2>

            </div>

            <div class="white-table-section">

              <div class="items-table-container table-responsive-xl">
                <table class="table table-borderless items-table" >
                  <thead>
                    <tr>
                      <th scope="col" class="pl-0">NOMBRE</th>
                      <th scope="col" class="">TALLA</th>
                      <th scope="col" class="">CANTIDAD</th>
                      <th scope="col" class="">COSTO</th>
                      <%# <th scope="col" class="">ACCION</th> %>
                    </tr>
                  </thead>
                  <tbody data-insert-in-list-target="items">
                    <% if @list_purchases.present? %>
                      <% @list_purchases.each do |item| %>

                        <tr class="">
                          <td><%= item.product.name %></td>
                          <td><%= item.product.size %></td>
                          <td><%= item.quantity %></td>
                          <td>
                            S/ <%= item.product.cost %>
                            <%= link_to list_purchase_path(item), method: "delete" do %>
                              <i class="fas fa-backspace pl-2" style="color: #F20F38"></i>
                            <% end %>
                          </td>
                        </tr>

                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>

              <div class="total-price-section">

                <table class="table table-borderless items-table">
                  <tfoot>
                    <tr>
                      <th scope="col" class="pl-0 color-red-bold">TOTAL</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td colspan="1" class="text-center color-red-bold total-price" data-insert-in-list-target="total_sum">S/ <%= @total_sum  %></td>
                    </tr>
                  </tfoot>
                </table>

              </div>

            </div>

            <div class="confirm-cancel-section mt-4">
              <%= button_to "Cancelar", purchase_path(@purchase), method: "delete", class: "btn bg-red-text-white-bold confirm-cancel-btn-padding", data: { confirm: "Cancelar compra?" } %>
              <%= button_to "", confirm_purchase_path(@purchase), method: "post", id: "confirm-button", form_class: "d-none", class: "d-none" %>
              <button id="confirm-order-modal-button" class="btn bg-blue-text-white-bold confirm-cancel-btn-padding">Confirmar</button>
            </div>

          </div>


        </div>

      </div>

    </div>

  </div>
</div>
