<%= render "shared/sidebar" %>
  <div class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
    <div class="table-responsive-xl">
      <table class="table table-borderless products-table ml-auto mr-auto mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-left text-muted">Producto</th>
            <th scope="col" class="text-muted">Precio de venta</th>
            <th scope="col" class="text-muted">Categoria</th>
            <th scope="col" class="text-muted">Stock</th>
            <th scope="col" class="text-muted">Talla</th>
            <th scope="col" class="text-muted">Estado</th>
            <th scope="col" class="text-muted">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <% if product.visible == true %>
              <tr class="table-infos">
                <td scope="row" class="w-25">
                  <div class = "d-flex">
                    <%= image_tag "https://source.unsplash.com/random/?#{product.category}", class: "img-product-info" %>
                    <ul class="list-unstyled m-0 text-left ml-3">
                      <li><strong class="name-column"><%= product.name %></strong></li>
                      <li class="text-muted">Codigo: <%= product.bar_code %></li>
                    </ul>
                  </div>
                </td>
                <td scope="row" class="column-info">S/ <%= product.price %></td>
                <td scope="row" class="column-info"><%= product.category %></td>
                <td scope="row" class="column-info"><%= product.stock %> <i class="far fa-chart-bar text-muted"></i></td>
                <td scope="row" class="column-info text-muted"> <%= product.size %> </td>
                <td scope="row" class="column-info"> <%= render "shared/product_status", product: product %> </td>
                <td scope="row" class="column-info">
                <%= link_to(product_path(product), class: "btn-actions text-decoration-none") do %>
                  <i class="fas fa-list"></i> Detalles
                <% end %>
                <%= link_to(edit_product_path(product), class: "btn-actions ml-2 text-decoration-none") do %>
                  <i class="far fa-edit"></i> Editar
                <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
