<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
      <h1>Products</h1>
      <div class="container">
      <table class="table">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Size</th>
          <th scope="col">Bar Code</th>
          <th scope="col">Cost</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">visible</th>
          <th scope="col">Link</th>
        </tr>
        <% @products.each do |product| %>
          <% if product.visible == true %>
            <tr>
              <td scope="row"> <%= product.name %> </td>
              <td scope="row"> <%= product.category %> </td>
              <td scope="row"> <%= product.size %> </td>
              <td scope="row"> <%= product.bar_code %> </td>
              <td scope="row"> <%= product.cost %> </td>
              <td scope="row"> <%= product.price %> </td>
              <td scope="row"> <%= product.stock %> </td>
              <td scope="row"> <%= product.visible %> </td>
              <td scope="row"> <%= link_to "ver", product_path(product)%> </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </main>
  </div>
</div>
