<%= render "shared/sidebar" %>
<div class="container-all">
  <div class="container-table">

      
        <h1>Products</h1>
        <div class="container">
        <table class="table">
          <tr>
            <th scope="col"></th>
            <th scope="col">PRODUCT</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">SIZE</th>
            <th scope="col">BAR CODE</th>
            <th scope="col">COST</th>
            <th scope="col">PRICE</th>
            <th scope="col">STOCK</th>
            <th scope="col">VISIBLE</th>
            <th scope="col">LINK</th>
          </tr>
          <% @products.each do |product| %>
            <% if product.visible == true %>
              <tr class="table-infos">
                <td scope="row"> <%= image_tag "https://images.unsplash.com/photo-1604272804518-4496d93d3652?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80", class: "img-product-info" %> </td>
                <td scope="row"> <%= product.name %> </td>
                <td scope="row"> <%= product.category %> </td>
                <td scope="row"> <%= product.size %> </td>
                <td scope="row"> <%= product.bar_code %> </td>
                <td scope="row"> <%= product.cost %> </td>
                <td scope="row"> <%= product.price %> </td>
                <td scope="row"> <%= product.stock %> </td>
                <td scope="row"> <%= product.visible %> </td>
                <td scope="row"> <%= link_to "ver", product_path(product)%> </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      

  </div>
</div>