<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-md-4">
      <p> <%= @product.name %> </p>
      <p> Categoria: <%= @product.category %> </p>
      <p> Talla: <%= @product.size %> </p>
      <h2> S/. <%= @product.price %> </h2>
      <p> <%= @product.cost %> </p>
      <p> Stock: <%= @product.stock %> </p>
      <p> <%= @product.minimum_required %> </p>
      <%# boton update %>
      <p> <%= link_to "Editar", edit_product_path(@product)  %> </p>
      <%# boton borrar %>
      <p> <%= link_to "Borrar producto", product_path(@product), method: "delete", data: { confirm: 'Are you sure you want to delete?' }  %> </p>
    </main>
  </div>
</div>
