<%= render "shared/sidebar" %>
  <div class="container-all">
    <div class="container-card">
      <div class="card-product">
        <div class="image-product">
          <%= image_tag "https://images.unsplash.com/photo-1618225747659-433d5a5c6af7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" %>
        </div>
        <div class="info-product">
          <h1><%= @product.name %></h1>
          <p class="stock"> Stock:<%= @product.stock%></p>
          <p class="size"><%= @product.size %> </p>
          <p class="category"> Categoria: <%= @product.category %> </p>
          <h2> S/. <%= @product.price %> </h2>
        </div>
      </div>
    </div>

    <div class="container-table">
      <h4 class="text-center">Movimientos</h4>
      <table class="table table-borderless">
          <thead>
            <tr class="text-center">
              <th scope="col">PRODUCTO</th>
              <th scope="col">FECHA REGISTRADA</th>
              <th scope="col">HORA REGISTRADA</th>
              <th scope="col">TIPO DE MOVIMIENTO</Ti></th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">TALLA</th>
            </tr>
          </thead>
          <tbody>
            <% @list_purchase.each do |col| %>
            <tr class="table-infos text-center">
              <td scope="row"> <%= col.product.name %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%m/%d/%Y") %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%I:%M:%S %p") %></td>
              <td scope="row">Entrada</td>
              <td scope="row"> <%= col.product.price %></td>
              <td scope="row"> <%= col.quantity %></td>
              <td scope="row"> <%= col.product.size %></td>
            </tr>
            <% end %>
            <% @list_order.each do |col| %>
            <tr class="table-infos text-center">
              <td scope="row"> <%= col.product.name %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%m/%d/%Y") %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%I:%M:%S %p") %></td>
              <td scope="row">Salida</td>
              <td scope="row"> <%= col.product.price %></td>
              <td scope="row"> <%= col.quantity %></td>
              <td scope="row"> <%= col.product.size %></td>
            </tr>
            <% end %>
            <% @total.each do |col| %>
            <tr class="table-infos text-center">
              <td scope="row"> <%= col.product.name %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%m/%d/%Y") %></td>
              <td scope="row"> <%= col.created_at.localtime.strftime("%I:%M:%S %p") %></td>
              <% if col.is_a?(ListOrder) %>
              <td scope="row">Salida</td>
              <% else %>
              <td scope="row">Entrada</td>
              <% end %>
              <td scope="row"> <%= col.product.price %></td>
              <td scope="row"> <%= col.quantity %></td>
              <td scope="row"> <%= col.product.size %></td>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
