<%= render "shared/sidebar" %>
  <div class="container-all">
    <div class="container-card">
      <div class="card-product">
        <div class="image-product">
          <%= image_tag "https://images.unsplash.com/photo-1618225747659-433d5a5c6af7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" %>
        </div>
        <div class="info-product">
          <% string = @product.name.split(" ") %>
          <h1><%= string.first %></h1>
          <p><%= string[1..string.length-1].join(' ') %></p>
          <p class="stock"> Stock:<%= @product.stock%></p>
          <p class="size"><%= @product.size %> </p>
          <p class="category"> Categoria: <%= @product.category %> </p>
          <h2> S/. <%= @product.price %> </h2>
        </div>
      </div>
    </div>

    <div class="container-table">
      <h3 class="font-weight-bold ml-4 mb-3">Movimientos</h3>
      <table class="table table-borderless table-show">
          <thead style="background-color: #E3E9EA">
            <tr class="text-center">
              <th scope="col" class="py-3">TIPO</Ti></th>
              <th scope="col" class="py-3">FECHA REGISTRADA</th>
              <th scope="col" class="py-3">HORA REGISTRADA</th>
              <th scope="col" class="py-3">COSTO</th>
              <th scope="col" class="py-3">CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
            <% @total.each do |col| %>
              <% if col.is_a?(ListOrder) %>
                <tr class="table-infos text-center table-red">
              <% else %>
                <tr class="table-infos text-center table-blue">
              <% end %>
                  <% if col.is_a?(ListOrder) %>
                  <td scope="row" class="font-weight-bold" style="color:#F20F38">Salida</td>
                  <% else %>
                  <td scope="row" class="font-weight-bold" style="color:#013440">Entrada</td>
                  <% end %>
                  <td scope="row"> <%= col.created_at.localtime.strftime("%m/%d/%Y") %></td>
                  <td scope="row"> <%= col.created_at.localtime.strftime("%I:%M:%S %p") %></td>
                  <td scope="row"> <%= col.product.cost %></td>
                  <td scope="row"> <%= col.quantity %></td>
                </tr>
              <% end %>
          </tbody>
      </table>
    </div>
  </div>
