<div class="container">
  <p> <%= @product.name %> </p>
  <p> Categoria: <%= @product.category %> </p>
  <p> Talla: <%= @product.size %> </p>
  <h2> S/. <%= @product.price %> </h2>
  <p> <%= @product.cost %> </p>
  <p> Stock: <%= @product.stock %> </p>
  <p> <%= @product.minimum_required %> </p>
</div>